

.customers-elem-text {
    max-width: 248px;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #86878B;
    padding: 24px 12px;
}

.customers-elements {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}

.customers-elem-image {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../img/avatar.png);
}

.customers-elem-name {
    font-family: 'Open Sans', sans-serif;  
}

.customers-elem-profession {
    color: #86878B;
    margin-top: 10px;
}


.customers-elem-cloud {
    max-width: 273px;
	background-color:#F5F5F5;
  border: 2px solid #F5F5F5;
  position: relative;
}

.customers-elem-cloud::after {
    content: ""; 
      position: absolute; 
      width: 0; 
      height: 0; 
      left: 17px; 
    border: 15px solid transparent;
    border-top-color: #F5F5F5;
    border-bottom: 0;
  } 

  .customers-elem-id {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 20px;
      margin-left: 20px;
  }


.customers-elem-profile {
    display: flex;
    flex-direction: row;
}

  